<!--==========================
  Sección - INTRO 
============================-->
<section id="intro" class="clearfix">
    <div class="container">
     
      <div class="intro-info">
        <h2>
          Brindamos
          <br />
          <span>soluciones</span>
          <br />
          para tu negocio!
        </h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Empezar</a>
          <a href="#services" class="btn-services scrollto">Servicios</a>
        </div>
      </div>
    </div>
  </section>
  <!-- #intro -->