<!--==========================
    sección EQUIPO
  ============================-->
  <section id="team">
    <div class="container">
      <div class="section-header">
        <h3>Equipo</h3>
        <p>
          Nuestro equipo está formado por excelentes profesionales.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img src="assets/img/equipo1.jpg" class="img-fluid" alt="" />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Juan Pérez</h4>
                <span>CEO</span>
                <div class="social">
                  <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://es-la.facebook.com/"
                  target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://ar.linkedin.com/"
                  target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img src="assets/img/equipo2.jpg" class="img-fluid" alt="" />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Sarah Jhonson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://es-la.facebook.com/"
                  target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://ar.linkedin.com/"
                  target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <img src="assets/img/equipo3.jpg" class="img-fluid" alt="" />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Amanda Jepson</h4>
                <span>PM</span>
                <div class="social">
                  <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://es-la.facebook.com/"
                  target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://ar.linkedin.com/"
                  target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="member">
            <img src="assets/img/equipo4.jpg" class="img-fluid" alt="" />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Pedro García</h4>
                <span>Desarrollador</span>
                <div class="social">
                  <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://es-la.facebook.com/"
                  target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://ar.linkedin.com/"
                  target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #equipo -->