<!--==========================
    Sección SERVICIOS
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">
      <header class="section-header">
        <h3>Servicios</h3>
        <p>
          Brindamos servicios de acuerdo a las necesidades de nuestros clientes.
        </p>
      </header>

      <div class="row">
        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i
                class="ion-ios-analytics-outline"
                style="color: #ff689b;"
              ></i>
            </div>
            <h4 class="title"><a href="">Diseño web</a></h4>
            <p class="description">
              Realizamos diseños personalizados.
            </p>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-5 wow bounceInUp"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i
                class="ion-ios-bookmarks-outline"
                style="color: #e9bf06;"
              ></i>
            </div>
            <h4 class="title"><a href="">Desarrollo web</a></h4>
            <p class="description">
              Desarrollamos tu web para que sea funcional.
            </p>
          </div>
        </div>

        <div
          class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp"
          data-wow-delay="0.1s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
            </div>
            <h4 class="title"><a href="">Desarrollo de apps</a></h4>
            <p class="description">
              Creamos apps con experiencia de usuario simple.
            </p>
          </div>
        </div>
        <div
          class="col-md-6 col-lg-5 wow bounceInUp"
          data-wow-delay="0.1s"
          data-wow-duration="1.4s"
        >
          <div class="box">
            <div class="icon">
              <i
                class="ion-ios-speedometer-outline"
                style="color: #41cf2e;"
              ></i>
            </div>
            <h4 class="title"><a href="">Mantenimiento web</a></h4>
            <p class="description">
              Ofrecemos soporte técnico continuo.
            </p>
          </div>
        </div>

        
        
      </div>
    </div>
  </section>
  <!-- #servicios -->