<!--==========================
    Sección BLOG
  ============================-->
  <section id="blog">
    <div class="container">
      <header class="section-header">
        <h3>Blog</h3>
        <p>
          Últimas novedades
        </p>
      </header>

      <!--novedad 1-->

      <div class="card mb-3" style="max-width: 900px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/blog/blog1.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Top de apps</h5>
              <p class="card-text">Te presentamos las 10 mejores apps para organizar tu día...</p>
              <p class="card-text"><small class="text-body-secondary">Última actualización hace 3 minutos</small></p>
            </div>
          </div>
        </div>
      </div>

      <!--novedad 2-->

      <div class="card mb-3" style="max-width: 900px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/blog/blog2.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8" >
            <div class="card-body">
              <h5 class="card-title">Nuevos cursos</h5>
              <p class="card-text">Apertura de inscripciones para los cursos de desarrollo web...</p>
              <p class="card-text"><small class="text-body-secondary">Última actualización hace 15 minutos</small></p>
            </div>
          </div>
        </div>
      </div>

      <!--novedad 3-->
<div class="card mb-3" style="max-width: 900px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/blog/blog3.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Novedades de la semana</h5>
              <p class="card-text">Resumen semanal de las novedades tecnológicas...</p>
              <p class="card-text"><small class="text-body-secondary">Última actualización hace 2 días</small></p>
            </div>
          </div>
        </div>
      </div>

     
    </div>
  </section>
  <!-- #BLOG -->